/* Basic Style */
ul {
    margin:0;
    padding: 0;
}

.main-box__input-add,
.main-box__check-box,
.main-box__input-text {
    outline: none;
}

.main {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.header img {
    width: 100%;
}

.header,
.header__info {
    font-family: fantasy, cursive;
}

@media (max-width:768px) {
    .header {
        text-align: center;
    }
}

.main-box {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.main-box__wrapper {
    display: flex;
}

.main-box__btn {
    outline:none;
    background: none;
    border: 0;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.main-box__btn:hover {
    color: #3a3A3a;
}

/* Heading */
.main-box__label {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.main-box__input-add,
.main-box__input-text {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #dDd;
    background: #FFF;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.main-box__input-add {
    width: 318px;
    display: inline-block;
}

.main-box__input-text {
    display: none;
}

.main-box__input-add:focus,
.main-box__input-text:focus {
    color: #333;
}

/* Task list */
.main-box__list-item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-box__label-task {
    display: inline-block;
    flex-grow: 1;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.main-box__check-box {
    margin: 0 10px;
}

.main-box__btn-delete img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.main-box__btn-delete img:hover {
    transform: rotateZ(0);
}

/* Completed */
.main-box__closed-list label {
    text-decoration: line-through;
    color: #888;
}

.main-box__task {
    width: 56%;
    flex-grow: 1;
}

/* Edit Task */
.main-box__edit-mode input[type=text] {
    display: inline-block;
    width: 224px;
}

.main-box__edit-mode label {
    display: none;
}